name: Preprocess Dataset

on:
  workflow_dispatch:
  push:
    paths:
      - "main.py"

jobs:
  preprocess:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run preprocessing
        run: python main.py

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: processed-dataset
          path: output/
